# package/cache/build
node_modules/
PSD/
hot/
dist/
build/
release/
package/
temp/
tmp/
.next/
**/package-lock.json

# test reports
test-report.xml
lint-report.xml

# numerous always-ignore extensions
*~
*.diff
*.patch
*.err
*.orig
*.log
*.bak
*.rej
*.swo
*.swp
*.vi
*.zip
*.tar
*.tgz
*.gz

# os or editor files and folders
Thumbs.db
.DS_Store
.cache
.project
.settings
.tmproj
*.iml
*.log
*.tmproj
*.idea
*.sln

# ansible/relay/blackbox
*.retry
.vagrant
**/__generated__/*

/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/infrastructure/**/*Secret.yml
